In [2]:
import pandas as pd
import numpy as np

In [2]:
filespath: str = 'data/raw_data/data_cdmx/'

names: list = ['Álvaro Obregón',
         'Azcapotzalco',
         'Benito Juárez',
         'Coyoacán',
         'Cuajimalpa',
         'Cuauhtémoc',
         'Gustavo A. Madero',
         'Iztacalco',
         'Iztapalapa',
         'Magdalena Contreras',
         'Miguel Hidalgo',
         'Milpa Alta',
         'Tláhuac',
         'Tlalpan',
         'Venustiano Carranza',
         'Xochimilco'
         ]

In [ ]:
columns: list = ['calle_num', 'cp', 'colonia']

for name in names:
    town = pd.read_csv(filespath + name + '.csv')
    data_town = town[columns]
    data_town.dropna(inplace=True)
    data_town['Alcaldía'] = name
    data_town.to_csv(name + '_clean.csv', index=False)

In [ ]:
df = pd.DataFrame({'call_numero':[],
                   'codigo_postal': [],
                   'colonia_predio': [],
                   'Alcaldía': []})

In [ ]:
for name in names:
    data = pd.read_csv(filespath + name + '.csv')
    df = df.append(data, ignore_index=True)

df

In [ ]:
df.drop_duplicates(inplace=True, ignore_index=True)

In [ ]:
df.to_csv('all_cdmx_data.csv', index=False)

In [3]:
filepath_ = 'data/raw_data/all_cdmx_data.csv'
data_ = pd.read_csv(filepath_)

In [7]:
data_

,calle_num,cp,colonia,alcaldia
0,"Anll. PERIFERICO BLVRD ADOLFO LOPEZ MATEOS, 723",01120,COVE,Álvaro Obregón
1,"Cl. PONIENTE 81, 28 Edif. F, Dpto. 19",01120,COVE,Álvaro Obregón
2,"Cl. PONIENTE 81, 28 Dpto. 101",01120,COVE,Álvaro Obregón
3,"Cl. PONIENTE 81, 28 Dpto. 306",01120,COVE,Álvaro Obregón
4,"Cl. PONIENTE 81, 28 Edif. H, Dpto. 28",01120,COVE,Álvaro Obregón
...,...,...,...,...
2171460,"Cda. HUERTAS, 23-B",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2171461,"Cda. HUERTAS, 23-A",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2171462,"Cda. HUERTAS, 23-C",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2171463,"Cda. HUERTAS, 23-D",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2171464,"Cda. HUERTAS, 12",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco

In [8]:
data_ = data_[pd.to_numeric(data_['cp'], errors='coerce').notnull()]

dtype('O')

In [12]:
data_.to_csv('data/raw_data/all_cdmx_data.csv', index=False)

In [5]:
data_.dtypes

calle_num     object
cp           float64
colonia       object
alcaldia      object
dtype: object

In [13]:
cps = []

for cp in data_['cp']:
    cp = str(cp).replace('.', '')[0:5]
    cps.append(cp)

In [14]:
data_

,calle_num,cp,colonia,alcaldia
0,"Anll. PERIFERICO BLVRD ADOLFO LOPEZ MATEOS, 723",1120.0,COVE,Álvaro Obregón
1,"Cl. PONIENTE 81, 28 Edif. F, Dpto. 19",1120.0,COVE,Álvaro Obregón
2,"Cl. PONIENTE 81, 28 Dpto. 101",1120.0,COVE,Álvaro Obregón
3,"Cl. PONIENTE 81, 28 Dpto. 306",1120.0,COVE,Álvaro Obregón
4,"Cl. PONIENTE 81, 28 Edif. H, Dpto. 28",1120.0,COVE,Álvaro Obregón
...,...,...,...,...
2170986,"Cda. HUERTAS, 23-B",16880.0,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170987,"Cda. HUERTAS, 23-A",16880.0,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170988,"Cda. HUERTAS, 23-C",16880.0,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170989,"Cda. HUERTAS, 23-D",16880.0,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170990,"Cda. HUERTAS, 12",16880.0,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco

In [15]:
data_['cp'] = cps

In [16]:
data_

,calle_num,cp,colonia,alcaldia
0,"Anll. PERIFERICO BLVRD ADOLFO LOPEZ MATEOS, 723",11200,COVE,Álvaro Obregón
1,"Cl. PONIENTE 81, 28 Edif. F, Dpto. 19",11200,COVE,Álvaro Obregón
2,"Cl. PONIENTE 81, 28 Dpto. 101",11200,COVE,Álvaro Obregón
3,"Cl. PONIENTE 81, 28 Dpto. 306",11200,COVE,Álvaro Obregón
4,"Cl. PONIENTE 81, 28 Edif. H, Dpto. 28",11200,COVE,Álvaro Obregón
...,...,...,...,...
2170986,"Cda. HUERTAS, 23-B",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170987,"Cda. HUERTAS, 23-A",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170988,"Cda. HUERTAS, 23-C",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170989,"Cda. HUERTAS, 23-D",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco
2170990,"Cda. HUERTAS, 12",16880,PUEBLO SANTA CECILIA TEPETLAPA,Xochimilco

In [17]:
data_.to_csv('data/raw_data/all_cdmx_data.csv', index=False)